---
import Card from '../../components/Card.astro'
import Layout from '../../layouts/Layout.astro'
import getAllCategoriesWithSlugs from '../../lib/getAllCategoriesWithSlugs'
import getAllPostsByCategory from '../../lib/getAllPostsByCategory'
import getCategoryBySlug from '../../lib/getCategoryBySlug'
import { BASE_URL } from '../../utils/constants'

export async function getStaticPaths() {
  const categoriesWithSlugs = await getAllCategoriesWithSlugs()
  return categoriesWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    }
  })
}

const { slug } = Astro.params,
  categorie = await getCategoryBySlug(slug),
  posts = await getAllPostsByCategory(categorie.id)
---

<Layout>
  <main>
    <h2>{categorie.name}</h2>
    <div role="list" class="link-card-grid">
      {
        posts.map((post) => (
          <Card
            href={`${BASE_URL}/article/${post.node.slug}`}
            noCat={true}
            featuredImage={post.node?.featuredImage}
            title={post.node.title}
            body={post.node.excerpt}
            categories={post.node.categories.nodes}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style>
  h2 {
    margin: 2rem 0;
    text-align: center;
    background: var(--color-text);
    color: var(--color-bg);
    padding: 10px;
    text-transform: uppercase;
  }

  main {
    margin: auto;
    padding: 20px;
    max-width: 600px;
  }

  .link-card-grid {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
</style>
